<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLCDConnectionString" connectionString="Data Source=DESKTOP-FVLA6DU\SQLEXPRESS;Initial Catalog=QLCD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLCDConnectionString1" connectionString="Data Source=DESKTOP-5FCB2HT\SQLEXPRESS;Initial Catalog=QLCD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLCD2ConnectionString" connectionString="Data Source=DESKTOP-5FCB2HT\SQLEXPRESS;Initial Catalog=QLCD2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLCD3ConnectionString" connectionString="Data Source=DESKTOP-5FCB2HT\SQLEXPRESS;Initial Catalog=QLCD3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>